In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
csv_file = '/Users/Greg/byteacademy/week2-day1/week2-day1/1-pandas-intro/cpuo.csv'
csv_table = pd.read_csv(csv_file)

In [ ]:
csv_table

In [ ]:
a = csv_table.iloc[17]
a

In [4]:
b = csv_table.sort_values(by="Complaints Count")
b = b.head()
b

,Year,Ranking,Precinct / Command,Complaints Count,Number Of Subject Officers
50,2011,17,Deputy Commissioners and Misc. Units,0,186
32,2010,16,Other Patrol Services Bureau Commands,3,203
15,2009,16,Other Patrol Services Bureau Commands,3,189
13,2009,14,Special Operations Division,16,741
30,2010,14,Special Operations Division,18,764

In [ ]:
c = csv_table["Complaints Count"].min()
c

In [5]:
d = csv_table.groupby(["Year"])["Number Of Subject Officers"].sum()
d

Year
2009    34446
2010    34557
2011    34430
Name: Number Of Subject Officers, dtype: int64

In [7]:
e = csv_table.groupby(["Year"]).describe()
e

     Complaints Count                                                          \
                count        mean         std  min   25%    50%    75%    max
Year
2009             17.0  250.176471  213.348962  3.0  66.0  212.0  294.0  772.0
2010             17.0  259.823529  237.343695  3.0  61.0  184.0  331.0  887.0
2011             17.0  250.000000  217.561486  0.0  60.0  211.0  351.0  797.0

     Number Of Subject Officers               ...                  Ranking  \
                          count         mean  ...      75%     max   count
Year                                          ...
2009                       17.0  2026.235294  ...   2604.0  3432.0    17.0
2010                       17.0  2032.764706  ...   2616.0  3433.0    17.0
2011                       17.0  2025.294118  ...   2567.0  4037.0    17.0


     mean       std  min  25%  50%   75%   max
Year
2009  9.0  5.049752  1.0  5.0  9.0  13.0  17.0
2010  9.0  5.049752  1.0  5.0  9.0  13.0  17.0
2011  9.0  5.049752  1.0  5.0  9.0  13.0  17.0

[3 rows x 24 columns]

In [ ]:
f = csv_table.groupby(["Year"])["Complaints Count"].mean()
f = f.sort_values()
f