In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("cpuo.csv")

In [4]:
# get number of rows
len(data.index)

51

In [5]:
# get column descriptions
list(data)

['Year',
 'Ranking',
 'Precinct / Command',
 'Complaints Count',
 'Number Of Subject Officers']

In [8]:
# which precinct receives most complaints
data.loc[data['Complaints Count'].idxmax()]

Year                                          2010
Ranking                                          1
Precinct / Command            Patrol Borough Bronx
Complaints Count                               887
Number Of Subject Officers                    3433
Name: 17, dtype: object

In [10]:
# average number of complaints 
data['Complaints Count'].mean()

253.33333333333334

In [12]:
# complaints standard dev
data['Complaints Count'].std()

218.5405835689716

In [13]:
#total complaints count
data['Complaints Count'].sum()

12920

In [15]:
# total officers
data['Number Of Subject Officers'].sum()

103433

In [17]:
# precinct with 0 complaints
data.loc[data['Complaints Count'] == 0]

,Year,Ranking,Precinct / Command,Complaints Count,Number Of Subject Officers
50,2011,17,Deputy Commissioners and Misc. Units,0,186

In [ ]:
# command to insert into sql db
data.to_sql()