In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
file1=pd.read_csv("cpuo.csv")

In [9]:
file1.shape

(51, 5)

In [11]:
file1.columns.values

array(['Year', 'Ranking', 'Precinct / Command', 'Complaints Count',
       'Number Of Subject Officers'], dtype=object)

In [21]:
file1['Complaints Count'].idxmax()

17

In [23]:
file1.iloc[17]

Year                                          2010
Ranking                                          1
Precinct / Command            Patrol Borough Bronx
Complaints Count                               887
Number Of Subject Officers                    3433
Name: 17, dtype: object

In [24]:
file1['Complaints Count'].mean()

253.33333333333334

In [25]:
file1['Complaints Count'].std()

218.5405835689716

In [26]:
file1['Complaints Count'].sum()

12920

In [29]:
file1['Number Of Subject Officers'].sum()

103433

In [31]:
file1.loc[file1['Complaints Count'] == 0]

,Year,Ranking,Precinct / Command,Complaints Count,Number Of Subject Officers
50,2011,17,Deputy Commissioners and Misc. Units,0,186

In [32]:
file1['Complaints Count'] == 0

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50     True
Name: Complaints Count, dtype: bool

In [42]:
print (file1.groupby(['Year'])['Complaints Count'].mean())

Year
2009    250.176471
2010    259.823529
2011    250.000000
Name: Complaints Count, dtype: float64

In [43]:
print (file1.groupby(['Year'])['Complaints Count'].std())

Year
2009    213.348962
2010    237.343695
2011    217.561486
Name: Complaints Count, dtype: float64